/* General Styles */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

p {
  color:  #3e3e3e;
  font-size: 18px;
  text-align: justify;
  line-height: 1.6;
}

h2 {
  color: #333;
  font-size: 38px;
}

section {
  margin-bottom: 80px;
}

.focused-text {
  color: #ffad5a;
}

.half-width {
  width: 1200px;
  width: 50%;
  padding-left: 8%;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  display: inline-block;
  text-decoration: none;
  background-color: #ff5959;
  padding: 12px 32px;
  font-size: 14px;
  color: #fff;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-top: 8px;
}

.btn:hover {
  background-color: #f54f4f;
  letter-spacing: 0.8px;
}

.secondary-title {
  color: #13103a;
  text-align: center;
  margin-bottom: 50px;
  font-size: 48px;
}

/* Hero Section */
header {
  margin-top: 18px;
  margin-bottom: 80px;
}

.hero-title {
  font-size: 55px;
  font-family: 'Yeseva One', cursive;
  color: #333;
  border-left: 5px solid #ff5959;
  border-radius: 3px;
  line-height: 1.6;
  padding-left: 10px;
}

.photo img {
  width: 70%;
}

.scroll-message {
  font-size: 14px;
}

/* Section-2: Mission section */
.mission-section {
  padding-left: 8%;
  padding-right: 8%;
}

.cards { 
  height: 430px;
  box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  width: 350px;
  padding: 18px;
  margin: 0 20px;
}

.card-text {
  color: #424242;
  font-size: 16px;
}

.card-title {
  font-size: 24px;
}

.card-photo {
  height: 160px;
}

.card-photo img {
  width: 150px;
  height: 150px;
}

.card-mission {
  background-color: #edf5f6;
}

.card-vision {
  background-color: #ffeeee ;
}

.card-goal {
  background-color: #fff4d6 ;
}

/*General styles for team and community sections*/
.square-photo {
  width: 450px;
}

.square-photo img {
  height: 450px;
  width: 100%;
}

.people-section {
  margin-top: 150px;
  padding-right: 8%;
}

/* Team Section */
.team-text {
  margin-right: 60px;
}

/* Contact section */
.contact-section {
  margin-top: 150px;
  padding-right: 12%;
}

label {
  display: block;
  margin-bottom: 4px;
}

.form-item {
  margin-bottom: 10px;
}

.input-item {
  width: 350px;
  height: 30px;
  border: 1px solid #333;
  border-radius: 8px;
}

.btn-submit {
  border: none;
  cursor: pointer;
}

#message {
  width: 350px;
  height: 150px;
  resize: none;
  border: 1px solid #333;
  border-radius: 8px;
}

ul li {
  list-style: none;
  margin-bottom: 18px;
  color: #333;
  font-weight: 700;
}

/* Footer */
footer {
  background-color: #0b0d17;
  
  
}

footer h4{
  font-family: 'Yeseva One', cursive;
  text-align: center;
  color: #fff;
  font-size: 32px;
  margin-bottom: 6px;
  padding: 20px;
}

footer p{
  text-align: center;
  font-size: 14px;
  color:  #d9dbe1;
  padding: 8px;
}

.green-text {
  color: #ff5959;
}



